/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background:white;
	font-size:22px;
	line-height: 32px;
	color: black;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: black;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: black;
}

h3 a {
	color: black;
}

a {
	color:black;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin-top: 30px;
	padding: 0;
	background-color: #fc67d0;
	display: flex;
	justify-content: center;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #fc67d0;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;
  font-family: 'Apple Chancery';
	color:black;
	font-size:22px;
	text-decoration:none;
	justify-content: space-between;
}


nav ul li ul li:hover { background: #D3D3D3; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #D3D3D3; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' ˇ ';}
li > a:only-child:after { content: '  '; }




/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
    margin-top: 20px;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #fc67d0;
		padding:14px 20px;	
		color:#FFF;

		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #
p {
    font-family: Georgia;
    font-size: 20px;
    padding: 20px;
}

.header-items {
    text-align: center;
    width: 100vw;
    
    height: 15vw
    

}

img {
    width: 100%;

}

.bros {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-box{
    width: 10%;
}

h1{
    text-align: center; 
    font-family: 'Zapfino';
    font-size: 34px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    width: 100%;

}

h2 {
  text-align: center; 
  font-family: 'Zapfino';
  font-size: 1.8rem;
  padding-top: 40px;

}
;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #D3D3D3;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #D3D3D3;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}



p {
    font-family: Georgia;
    font-size: 20px;
    padding: 20px;
}

.header-items {
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: center;
    height: 15vw
    

}

img {
    width: 100%;

}

.bros {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-box{
    width: 200%;
  padding-top: 25px;
}

h1{
    text-align: center; 
    font-family: 'Zapfino';
    font-size: 30px;
    width: 100%:
   


}

h2 {
  text-align: center; 
  font-family: 'Zapfino';
  font-size: 1.5rem;

}



.grid {
    display: grid;
    height: 100vh; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

}

header {
    background-color: white;
    width: 100%;

}

.body-nav{
 
    background-color: white;
}

main {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
}

footer {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: deeppink;
}


@media screen and (min-width: 800px) {

    .grid {
        display: grid;
        height: 100vh; 
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 2fr 2.5fr;
    }

  


    .body-nav { 
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: 60px;
    }

    .body-nav ul {
        align-items: center;
        justify-content: center;
    }

    

    main {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    footer {
        grid-column: 1/3;
        grid-row: 3/4;
        
    }

}

.container {
    display:inline-flex;
    justify-items: center;
}

.body-nav{ 
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.body-nav ul { 
    display: inline-block;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin-top: 7%;  
}

.body-nav h3 p { 
    display: inline-block; 
    list-style: none;
    justify-content:space-between;
    min-width: 150px;
    cursor: pointer;
    position: relative;
    text-align: center;
    background: #FC67D0;
    color: #f1f1f1;
    border-radius: 3px;
    margin: 15px;
    margin-left: 25px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background-color 0.5s ease;
    font-family: 'Zapfino', Georgia;
}

a { 
    text-decoration: none;
    color: inherit;
}

.body-nav li:hover { 
    background: gold;
}

a:visited { 
    text-decoration: none;
}

form {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px 10px;
    background: #FC67D0;
    background-image: linear-gradient(to bottom, #FC67D0,#FC67D0, #D3D3D3 );
    border-radius: 0px;
    margin-top: 2.5%;

}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
font-family: "Nunito Sans", sans-serif;
box-sizing: border-box;
}

.wrapper {
display: flex;
justify-content: flex-start;
}

.box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
    width: 100%;
    padding-top: 5.5%;
    padding-left: 5%;
    font-family: 'Zapfino';
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Zapfino";
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #f5f5f5;
    color: #FC67D0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 61px;
    caret-color: purple;
    transition: all 350ms;
}

input::placeholder,
textarea::placeholder {
    color: hsla(9, 100%, 64%, 0.6);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    border: 2px solid gold;
}

label:required {
    color: yellow;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
    background: hsla(9, 100%, 64%, 0.6);
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
text-decoration: none;
padding: 1em 2.5em; 
background-color:#6D7278; 
color: #fff; 
border-radius: 0.25em; 
background-size: 300% ;
background-position: left;
padding: 19px 39px 18px 39px;
color: #fff;
font-size: 18px;
text-align: center;
font-style: normal;
border-radius: 5px;
border: none;
width: 100%;
margin-bottom: 10px;
transition: all 350ms;
background-image: #6D7278;
background-position: left;
transition: background-position 2s ease;
display: flex;
justify-content: center;
align-items: center;
}


button:hover{
    background-position: right; 
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.img-box {
    width: 115px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: Georgia;
}

h2 {
    display: flex;
    justify-content: center;
}