html, body, .container {
    margin: 0;
  }  
  main {
    background-color: white;
  }
  p {
    font-family: 'Georgia';
    margin: 0;
    font-size: 20px;
  }
  .para1 {
    margin: 20px;
  }
  .para2 {
    margin: 20px;
  } 
  .pic1 {
    width: 100%;
  }
  .pic2 {
    width: 100%;
  }
  .pic3 {
    width: 100%;
  }
  .brothers {
    grid-area: img1;
  }
  .main-header {
    grid-area: header1;
    font-family: 'Zapfino';
    font-size: 13px;
  }
  .cookout {
    grid-area: img2;
    background-color: gray;
    padding: 20px;
  }
  .cookouttext {
    grid-area: text1;
    background-color: gray;
  }
  .stews {
    grid-area: img3;
    padding: 20px;
  }
  .stewstext {
    grid-area: text2;
  }

.imagesection {
display: grid;
grid-template-columns: 1fr;
    grid-template-rows:.2fr .1fr .5fr .2fr .5fr .2fr;
    grid-template-areas:
    "img1"
    "header1"
    "img2"
    "text1"
    "img3"
    "text2";
}
.main-header {
    text-align: center;
}

@media only screen and (max-width: 650px ) { 
    .pic2 {
        max-width: 50%;
        margin-left: 25%;

    }
    .pic3 {
        max-width: 50%;
        margin-left: 25%;
    }
}
@media only screen and (min-width: 650px ) { 
    .imagesection {
          display: grid;
          grid-template-rows: .5fr .1fr .5fr .8fr;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: 
        "img1 img1 img1"
        "header1 header1 header1"
        "img2 text1 text1"
        "text2 text2 img3";
    
      }    
      .pic2 {
        max-width: 250px;
        max-height: auto;
      }
      .pic3 {
        max-width: 250px;
        max-height: auto;
      }
      }