html, body, .container {
    margin: 0;
  }  
  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr .1fr;
    grid-template-areas:
      " header "
      " main "
      " footer ";
  }
  header {
    grid-area: header;
  }
  main {
    background-color: white;
    grid-area: main; 
  }
  p {
    font-family: 'Georgia';
    margin: 0;
    font-size: 20px;
  }
  .para1 {
    margin: 20px;
  }
  .para2 {
    margin: 20px;
  } 
  .pic1 {
    width: 100%;
  }
  .pic2 {
    width: 100%;
  }
  .pic3 {
    width: 100%;
  }
  .brothers {
    grid-area: img1;
  }
  .main-header {
    grid-area: header1;
    font-family: 'Zapfino';
    font-size: 15.3px;
  }
  .cookout {
    grid-area: img2;
    background-color: #d3d3d3 ;
    padding: 20px;
  }
  .cookouttext {
    grid-area: text1;
    background-color:#d3d3d3;
  }
  .stews {
    grid-area: img3;
    padding: 20px;
  }
  .stewstext {
    grid-area: text2;
  }

.imagesection {
display: grid;
grid-template-columns: 1fr;
    grid-template-rows:.2fr .1fr .5fr .2fr .5fr .5fr;
    grid-template-areas:
    "img1"
    "header1"
    "img2"
    "text1"
    "img3"
    "text2";
}
.main-header {
    text-align: center;
}

@media only screen and (max-width: 600px ) { 
    .pic2 {
        max-width: 50%;
        margin-left: 25%;

    }
    .pic3 {
        max-width: 50%;
        margin-left: 25%;
    }
}
@media only screen and (min-width: 600px ) { 
    .imagesection {
          display: grid;
          grid-template-rows: .5fr .1fr .5fr .5fr;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: 
        "img1 img1 img1"
        "header1 header1 header1"
        "img2 text1 text1"
        "text2 text2 img3";
    
      }    
      .pic2 {
        max-width: 300px;
        margin: 0;
      }
     .cookout {
        padding-left: 17%;
      }
      .stews {
        padding-right: 17%;
        padding-left: 20%;
      }
      .pic3 {
        max-width: 300px;
        margin: 0;
      }
      .cookouttext {
        padding-right: 7%;
      }
      .stewstext {
        padding-left: 7%;
      }
      p {
        font-size: 2vw;
      } 
      } 
      footer {
        grid-area: footer;
        background-color: #D3D3D3;
        padding: 10px;
        margin-top: 50px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "footerarea1 footerarea2 footerarea3"
      }
      
      .footerarea1 {
        grid-area: footerarea1;
        align-items: center;
      }
      
      .footerarea2 {
        grid-area: footerarea2;
        align-items: center;
      }
      
      .footerarea3 {
        grid-area: footerarea3;
        align-items: center;
        padding-top: 15px;
      }
      
      .paragraph1,
      .paragraph2,
      .paragraph3 {
        margin: 0;
        text-align: center;
      }
      
      .footer-button {
        display: flex;
        justify-content: center;
      }
      
      .footerbutton1 button {
        padding: 12px 20px;
        background-color: #fc67d0;
        color: #000000;
        font-size: 15px;
        border: 5px solid #ffc65b;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: georgia;
      }
      
      .footerbutton1 button:hover {
        background-color: #ffc65b;
      }
    
    footer p {
        font-family: Georgia;
        font-size: 18px;
    }
    
    @media only screen and (max-width: 768px) {
      footer {
        font-size: 16px;
        padding: 5px;
      }
      .paragraph1,
      .paragraph2,
      .paragraph3 {
        margin: 0;
        text-align: center;
        padding: 5px;
      }
    }