body {
	margin: 0 auto;
	font-family: "georgia";
  width: 90%;
  align-items:center;
} 

h1{
  font-family:"Zapfino";
  margin-bottom: -20px;
}

.main-container{
  width: 80%;
  margin: 0 auto;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}