html, body, .grid-container {
    margin: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr .25fr;
    grid-template-areas:
      " header "
      " main "
      " footer ";
  }

  main {
    background-color: white;
    grid-area: main;
  }
  header {
    grid-area: header;
  }
  
  .main-header {
      font-size: 2em;
      text-align: center;
      font-family: 'Zapfino';
  } 
  
   .imagesection {
      display: grid;
      grid-gap: 10px;
      grid-template-rows: .1fr .1fr .5fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "img1"
      "header1"
      "text1"
      "img2";
  }
  
  .house {
          margin-right: 10%;
          margin-left: 10%;
  }
  
  .pic1 {
    width: 100%;
  }
  .pic2 {
    width: 100%;
  }
  .house {
    grid-area: img1;
  }
  .renovations {
    grid-area: img2;
  }
  .historytext {
    grid-area: text1;
    border-right: 10px;
  }
  .main-header {
      grid-area: header1;
  }
  
  h2 {
      font-family: 'georgia';
      margin: 0;
  }
  
  p{
      font-family: 'georgia';
      margin: 4px;
  }
  @media only screen and (min-width: 600px ) { 
      .imagesection {
          display: grid;
          grid-gap: 10px;
          grid-template-rows: .1fr .1fr 1fr;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
          "img1 img1"
          "header1 header1"
          "text1 img2"; }
      h2 {
          font-size: 2.1vw;
      }
      p {
          font-size: 2vw;
      }
  }
  

/* footer css */
footer {
  background-color: #6D7278;
  grid-area: footer;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footerarea1 footerarea2 footerarea3"
}

.footerarea1 {
  grid-area: footerarea1;
  align-items: center;
}

.footerarea2 {
  grid-area: footerarea2;
  align-items: center;
}

.footerarea3 {
  grid-area: footerarea3;
  align-items: center;
}

.para1,
.para2,
.para3 {
  margin: 0;
  text-align: center;
}

.footer-button {
  display: flex;
  justify-content: center;
}

.footerbutton1 button {
  padding: 12px 20px;
  background-color: #fc67d0;
  color: #000000;
  font-size: 15px;
  border: 5px solid #ffc65b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footerbutton1 button:hover {
  background-color: #ffc65b;
}